@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins';
  @apply bg-slate-950 text-slate-50;
}
 
.smooth{
  transition: all .4s linear;
}

.anim {
  animation: anim 1s infinite linear;
}

@keyframes anim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}


.middle{
  @apply flex items-center justify-center ;
}